body {
  font-family: Arial;
  background: #eef2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 6px;
  border-radius: 5px;
}
